*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 80vh;
}
.container{
    height: 200px;
    width: 280px;
    background-color: #fff;
    text-align: center;
border-radius: 10px;

}
.header{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}