*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 80vh;
}
.container{
    height: 250px;
    width: 280px;
    background-color: #fff;
    text-align: center;
border-radius: 10px;

}
.header{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.input{
    margin: 16px;
    /* padding: px; */
    font-size: 17px;
}
input{
    width: 90%;
    padding: 4px;
    font-size: 13px;

}